SUPPORTED_PLATFORMS                           = macosx
VALID_ARCHS[sdk=macosx*]                      = i386 x86_64
// Dynamic linking uses different default copy paths
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]          = $(inherited) '@executable_path/../Frameworks' '@loader_path/Frameworks'
// OSX-specific default settings
FRAMEWORK_VERSION[sdk=macosx*]                = A
COMBINE_HIDPI_IMAGES[sdk=macosx*]             = YES
MACOSX_DEPLOYMENT_TARGET                      = 10.10

ENABLE_BITCODE[sdk=macosx*]                   = NO
